* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

header img{
  width: 100%;
}

#header{
  margin-top:10px;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
nav {
  margin:20px auto;
  max-width:1000px;
  width:90%;
  top:-20px;
  position: absolute;
  left:0;
  right:0;
}

nav > ul {
  display:table;
  width:100%;
  background:#fff;
  position: relative;

}

nav ul {
  list-style: none;
}

nav > ul li {
  display: table-cell;
}

nav > ul > li:hover > ul {
  display: block;
  height: 100%;
}

nav > ul > li > ul {
  display: block;
  position: absolute;
  background: #37a4d9;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul li a {
  color: #000;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
  background-color: #fff;
}

nav > ul > li > a span {
  background-color: #174459;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: -55px;
}

nav > ul > li > a span .icon  {
  display: block;
  line-height: 60px;
}

nav > ul > li > a:hover > span {
  top: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav ul li a .primero {
  background-color: #0e5061;
}
nav ul li a .segundo {
  background-color: #5da5a2;
}
nav ul li a .tercero {
  background-color: #f25724;
}
nav ul li a .cuarto {
  background-color: #174459;
}
nav ul li a .quinto {
  background-color: #37a4d9;
}

#aqui{
  border-bottom: 5px solid #0e5061;
}
.space-1 {
  width: 100%;
  height: 30px;
  float: left;
}

/* sliderbox*/
/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin-left: 10%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img{
  width: 100%;
  height: 450px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* seccio */
.seccio-principal{
  width: 90%;
  height: 800px;
  float:left;
  margin-left: 5%;
  margin-right: 5%;
}

.footer{
  width: 100%;
  height: 150px;
  float: left;
  background-color: #000;
  display: table;
  clear: both;
  color: #fff;
}

.columfooter {
  float: left;
  width: 30.33%;
  padding: 1%;
  text-align: center;
}

.columfooter ul{
  list-style: none;
}

.columfooter li{
  margin-top: 3px;
}

.copy{
  margin-top:100px;
}
.fticon{
  margin-left: 35%;
  margin-top: 5%;
}
.fticon img{
  float: left;
  margin-left: 1%;
  width: 45px;
  height: 45px;
  border-radius: 50% 50%;
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .mySlides img{
    height: 250px;
  }
}
