#aqui{
  border-bottom: 5px solid #5da5a2;
}
#descripcio{
  width: 80%;
  margin-left: 10%;
}

.contingut{
  text-align: center;
  width: 100%;
  font-size: 32px;
}
.contingut p{
  margin-top: 3%;
  text-align: justify;
  font-size: 20px;
}

iframe{
  float: left;
  margin-left: 25%;
  width: 50%;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  .contingut h2{
    font-size: 36px;
  }
  .contingut p{
    font-size: 18px;
  }
  iframe{
    width: 70%;
    height: 300px;
    margin-left: 15%;
  }
}
